@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@300;400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --color-void: #050505;
  --font-anton: "Anton", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}

body {
  background-color: var(--color-void);
  color: #ffffff;
  font-family: var(--font-manrope);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

::selection {
  background-color: #ffffff;
  color: #000000;
}

/* Invisible scrollbar for maximum immersion */
::-webkit-scrollbar {
  display: none;
}